body{
    background-image: url(bg-image.jfif);
    text-align: center;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 6vw;
    margin:  4%;
    padding: 4%;
    color: #FEF2BF;
  }
  .start{
      height: 200px;
      width: 300px;
      background-color: white;
      text-align: center;
      border: 3px solid lightgray;
  }
  p{
      color: white;
  }